body{
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}